/* footer styles */
footer {
  text-align: center;
  padding: 2em 0;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: 0.8em;
  font-size: 100%;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10rem !important;
  height: 3.5rem;
  max-width: 150px;
  margin: 0 0.5rem;
  z-index: 1;
}

#shareButton {
  background-color: #fff;
  color: #e8344e;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#studyButton {
  background-color: #E8334E;
  color: white;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

#studyButton a {
  color: white;
  text-decoration: none;
}


/* style for smaller screen */
@media (max-width: 768px) {

  #shareButton,
  #studyButton {
    width: 90%;
    /* make the buttom wider in smaller screen */
    padding: 0.75em;
    font-size: 90%;
    /* make the font smaller in smaller screen*/
  }
}

/* mouse over effect*/
#shareButton:hover {
  background-color: #fae1e1;
}

#studyButton:hover {
  background-color: #bc2a40;
}

/*copyright part in footer*/
.copyright {
  width: 25rem;
  font-size: 1rem;
}